menuconfig NTC
	tristate "Non-Transparent Channel support"
	help
	  The Non-Transparent Channel is an abstraction of the basic
	  functionality of a Non-Transparent Bridge (NTB) and DMA engine.  It
	  provides functions to map memory so that it can be accessed by the
	  peer, and functions to operate on the peer memory.  An abstraction is
	  used, because the peer memory may be mapped by some mechanism other
	  than DMA, and be accessed via something other than NTB.

	  If unsure, say N.

if NTC

config NTC_NTB
	tristate "Non-Transparent Bridge NTC"
	help
	  This is an NTC back end using a PCI-express Non-Transparent Bridge,
	  and a general purpose DMA engine on the same PCI-express root port.

	  FIXME: this driver is not implemented!

	  If unsure, say N.

config NTC_NTB_MSI
	tristate "Non-Transparent Bridge NTC with MSI workaround"
	help
	  This is an NTC back end using a PCI-express Non-Transparent Bridge,
	  and a general purpose DMA engine on the same PCI-express root port.

	  This driver avoids using any NTB functions after link initialization.
	  The NTB scratchpad is used during initialization.  The NTB doorbell
	  is never used.  Instead, message signaled interrupt (MSI) data is
	  written directly to the peer interrupt controller.

	  If unsure, say N.

config NTC_TCP
	tristate "TCP kernel socket NTC"
	help
	  This is an NTC back end using a kernel TCP socket, and a simple
	  protocol to read and write kernel-virtual mapped memory via socket
	  operations.

	  If unsure, say N.

endif # NTC
